/*body construct start*/
body{
	margin: 0;
	background-image: url('IMG_5498combo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
/*body construct end*/
/*Navigation Bar Start*/
.border{
	border-bottom: 2px solid red;
	position: absolute;
	top: 0px;
	left:5%;
	width: 90%;
}
.nav{
	display: inline-block;
	text-decoration: none;
	color: orange;
}
.navitem{
	font-size: 150%;
	text-decoration: none;
	color: inherit;
}
.navitem:link{
	text-decoration: none;
	padding: 30px;
}
.navitem:visited{
	text-decoration: none;
}
.navitem:hover{
	background: url(nav-active-orange.png) bottom repeat-x;
}
.navitem:active{
	text-decoration: none;
}
#navigator .nav{
	margin: 0;
	text-align: center;
	font-size: 120%;
}
.divide{
	border: 1px solid orange; 
	width: 76%;

}
/*Navigation Bar End*/
/*content styler start*/
.content{
	box-shadow: 0 0 25px orange;
	color: orange;
	font-size: 120%
}
/*content styler end*/
/*Image slider styling start*/
.naviybuttonthings{
	display: inline-block;
}
#slider{
	width: 720px;
	height: 400px;
	overflow: hidden;
	border: 4px solid;
	border-color: #555;
	position: absolute;
	margin: auto;
 	top: 0; left: 0; bottom: 0; right: 0;
 	z-index: -2;
}
#slider .slides{
	display: block;
	width: 6000px;
	height: 400px;
	margin: 0;
	padding: 0;
}
#slider .slide{
	float: left;
	list-style-type: none;
	width: 720px;
	height: 400px;
}
ul.naviybuttonthings li{
	list-style-type: none;
	display: inline-block;
	padding: 5px;
}
img.slideNavReverse2{
	padding: 5px;
	position: absolute;
	background: url('staticarrow.png') no-repeat 0 0;
	background-size: 24px 24px;
}img.slideNavReverse2:hover{
	padding: 5px;
	position: absolute;
	background: url('reversehover.png') no-repeat 0 0;
	background-size: 24px 24px;
}
img.slideNavForward2{
	padding: 5px;
	position: absolute;
	background: url('staticarrow.png') no-repeat 0 0;
	background-size: 24px 24px;
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
}img.slideNavForward2:hover{
	padding: 5px;
	position: absolute;
	background: url('reversehover.png') no-repeat 0 0;
	background-size: 24px 24px;
}
img.slideNavReverse{
	padding: 5px;
	position: absolute;
	background: url('staticarrow.png') no-repeat 0 0;
	background-size: 24px 24px;
}img.slideNavReverse:hover{
	padding: 5px;
	position: absolute;
	background: url('reversehover.png') no-repeat 0 0;
	background-size: 24px 24px;
}
img.slideNavForward{
	padding: 5px;
	position: absolute;
	background: url('staticarrow.png') no-repeat 0 0;
	background-size: 24px 24px;
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
}img.slideNavForward:hover{
	padding: 5px;
	position: absolute;
	background: url('reversehover.png') no-repeat 0 0;
	background-size: 24px 24px;
}
/*Image slider styling end*/
/*footer style start*/
footer{
	position:absolute;
   bottom:0;
   width:100%;
   height:60px;
   background-color: orange;
}
footer ul li{
	display: inline-block;
	text-decoration: none;
}
/*footer style end*/
/*sprite style start*/
img.spriteFaceBook {
	background: url('facebook.png') no-repeat -5px -34px;
	width: 13px;
	height: 24px;
	padding: 0 5px;
}
img.spriteFaceBook:hover {
	background: url('facebook.png') no-repeat -5px 0;
	width: 13px;
	height: 24px;
}
img.spriteYouTube {
	background: url('yelp.png') no-repeat 0 -34px;
	width: 24px;
	height: 24px;
	padding: 0 5px;
}
img.spriteYouTube:hover{
	background: url('yelp.png') no-repeat 0 0;
	width: 24px;
	height: 24px;
}
.slideNavReverse{
	width: 24px;
	padding: 5px;
	cursor: pointer;
}
.slideNavForward{
	width: 24px;
	padding: 5px;
	cursor: pointer;
}
/*sprite style end*/